<ion-header>
  <ion-toolbar>
    <ion-title>PELD-ELPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img src="assets/icon/peld_original.png">
    <div class="ion-text-center">
      PELD-ELPA é um projeto de pesquisa ecológica de longa duração do Instituto de Oceanografia (IO) da FURG, que estuda a influência de fenômenos naturais e impactos antrópicos na biota e processos ecológicos do Estuário da Lagoa dos Patos e Costa Marinha Adjacente.
      <br><br>Versão 1.0
    </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/peld']" routerDirection="forward" expand="block" fill="outline">Sobre o PELD</ion-button>
    <ion-button [routerLink]="['/byte']" routerDirection="forward" expand="block" fill="outline">Desenvolvedores</ion-button>
  </ion-toolbar>
</ion-footer>