<ion-header>
  <ion-toolbar>
    <ion-title>PELD-ELPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cards">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ card.place }}</ion-label>
      <ion-button *ngIf="card.vr" (click)="vrView(card.vr)" fill="outline" slot="end">360°</ion-button>
    </ion-item>

    <div (click)="photoView(card.imageUrl, card.place)" class="thumbnail-wrapper">
      <img src="{{ card.image }}"/>
      <ion-icon name="expand" color="light" style="zoom:2.0;"></ion-icon>
    </div>

    <ion-card-content>
      {{ card.description }}
    </ion-card-content>
  </ion-card>
</ion-content>