<ion-header>
  <ion-toolbar>
    <ion-title>Imagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cards">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ card.place }}</ion-label>
      <ion-button (click)="vr('https://storage.googleapis.com/vrview/examples/coral.jpg')" fill="outline" slot="end">360°</ion-button>
    </ion-item>

    <img (click)="view(card.image)" src="{{ card.image }}"/>
    
    <ion-card-content>
      {{ card.description }}
    </ion-card-content>
  </ion-card>

 <!-- COD BEATRIZ
      <ion-list>
        <ion-item *ngFor="images">
          <ion-label>{{images}}</ion-label>
        </ion-item>
       
      </ion-list>
-->
</ion-content>