<ion-header>
  <ion-toolbar>
    <ion-title>Imagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Lagoa dos patos</ion-label>
      <ion-button fill="outline" slot="end" (click)="view('https://ionicframework.com/docs/demos/api/card/madison.jpg')">360º</ion-button>
    </ion-item>

    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg"/>
    <ion-card-content>
      TEXTO SE NECESSÁRIO
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Lagoa dos patos</ion-label>
      <ion-button fill="outline" slot="end">360º</ion-button>
    </ion-item>

    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
    <ion-card-content>
      TEXTO SE NECESSÁRIO
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Lagoa dos patos</ion-label>
      <ion-button fill="outline" slot="end">360º</ion-button>
    </ion-item>

    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
    <ion-card-content>
      TEXTO SE NECESSÁRIO
    </ion-card-content>
  </ion-card>
    
 <!--
      <ion-list>
        <ion-item *ngFor="images">
          <ion-label>{{images}}</ion-label>
        </ion-item>
       
      </ion-list>
-->
</ion-content>